<h1> Seminars attended by <%=@user.email%> </h1>

<table>
	<tr>
		<th>Name</th>
		<th>Type</th>
		<th>Start date</th>
		<th>End date</th>
		<th>Description</th>
	</tr>
	
	<% @participations.each do |part|%>
	<% if part.user==@user%>
	<% if part.event.event_type=="Seminar"%>
	<tr>
			<td><%= part.event.event_name%></td>
			<td><%= part.event.event_type%></td>
			<td><%= part.event.start_date%></td>		
    	<td><%= part.event.end_date%></td>
    	<td><%= part.event.event_dscrip%></td>	
    	<td><%= link_to "Show Details", part.event%></td>
    	<td><a href="destroy_part?id=<%=part.id%>"> De-register Myself </a></td> 
  </tr>  	
  <%end%>
  <%end%>
  <%end%>
</table>  


<p>
	<%= link_to "Index of all events", events_index_path%>
</p>


<%=link_to "Lectures I attended", user_lectures_path%><br />
<%=link_to "Conferences I attended", user_conferences_path%>

